@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
}
.container{
    /* height: 100px; */
    padding-top: 10px;
}
.calculator{
    border: 1px solid #717377;
    padding: 5px;

    border-radius: 16px;
    background: black;
    box-shadow: 0px 3px 15px #66686c (113,115,119,0.5);
}
input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow:0px 3px 15px rgbs(84,84,84.0.1) ;
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: aliceblue;
    border-bottom: 2px solid antiquewhite;
}
input::placeholder{
    color: #ffff;
}
button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 20%;
    background: rgb(199, 195, 195);
    color: #1e1c1c;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1);
    cursor: pointer;
} 
.button:hover{
    background-color: rgb(226, 202, 170);
}
.equalbtn{
    background-color: orange;
}
.opreator{
    color: green;
}